name: Workflow for pre-release packages

on:
  push:
    branches: [main]

jobs:
  test:
    uses: ./.github/workflows/_test.yml
    permissions:
      contents: read
      pull-requests: write # Required for PR comments
      issues: write # Required for issue comments
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}

  build-and-push:
    uses: ./.github/workflows/_build-and-push.yml
    needs: test
    with:
      environment: qas
      version_suffix: -alpha
    secrets:
      docker_username: ${{ secrets.DOCKER_USERNAME }}
      docker_password: ${{ secrets.DOCKER_PASSWORD }}
